<h1 class="pt-8 text-2xl">Dear reader,</h1>
<p class="text-justify mt-4">
  Welcome to my site! It's still very new, so anticipate some weirdness here and
  there. Aside from that, I'm mostly going to use this to talk about projects
  I've been working on, and maybe some other stuff. Expect things like devops,
  functional programming, and IaC to pop up a lot.
</p>
<p class="text-justify mt-4">
  Anyways, with that all out of the way feel free to click around.
</p>
<p class="text-justify mt-4">
  Cheers,
</p>
<p class="text-justify mt-4">
  - Alex :)
</p>