body {
  background-color: grey;
}

.header-gif {
  position: relative;
  background: url("autumn.gif");
  z-index: 1;
}

.header-gif::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity to change the dimming effect */
  z-index: 2;
  /* Place the overlay behind the text */
}

.header-gif a {
  z-index: 3;
}